<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.perfume.mybatis.PerfumeMapper">

	<!-- 향수 디테일 페이지 목록 -->
	<select id="getDetail" resultType="com.perfume.beans.PerfumeDTO">
	 <![CDATA[
	 	select * from tbl_perfume where p_number = #{p_number} and f_name = #{f_name}
	 ]]>
	</select>


	<!-- 게시물 갯수 -->
	<select id="listCount" resultType="int">
		select count(p_number) from tbl_perfume 
	</select>
	
	<!-- 기본페이징처리 -->
	<select id="listPage" resultType="com.perfume.beans.PerfumeDTO" parameterType="com.perfume.beans.Paging">
	<![CDATA[
		select rm, p_number, f_name from
		(select rownum rm ,p_number, f_name from
			(select * from tbl_perfume order by p_number desc) 
				order by p_number desc) 
					where rm between #{rowStart} and #{rowEnd} 
	]]>
	</select>
	
	<!-- 성별, 계절 검색 -->
	<select id="cate" parameterType="List" resultType="com.perfume.beans.PerfumeDTO" >
	<![CDATA[
	select rm, p_number, f_name , gender, season from
		(select rownum rm, p_number, f_name, gender, season from 
			(select p_number, f_name, gender, season from tbl_perfume ]]>
			<where>
				<if test="c_gender != null">
					<foreach collection="c_gender" item="item" separator="or">
						gender = #{item}
					</foreach>
				</if>
				<if test="c_season != null">	
					<foreach collection="c_season" item="item" separator="or">
						season = #{item}
					</foreach>
				</if>	
			</where>
			 order by p_number desc)	
	<![CDATA[		
		order by p_number desc) 
	where rm between #{rowStart} and #{rowEnd}
	]]>
	</select>
	
	
	<!-- 검색 후 리스트 갯수ㅡ -->
	<select id="cateCount" resultType="int" >
	<![CDATA[
		select count(p_number)from tbl_perfume ]]>
			<where>
				<if test="c_gender != null">
					<foreach collection="c_gender" item="item" separator="or">
						gender = #{item}
					</foreach>
				</if>
				<if test="c_season != null">	
					<foreach collection="c_season" item="item" separator="or">
						season = #{item}
					</foreach>
				</if>	
			</where>
	</select>
	
	<!-- 키워드 검색 -->
	<select id="keyword" resultType="com.perfume.beans.PerfumeDTO">
	<![CDATA[
	select rm, p_number, f_name, gender, season from
		(select rownum rm, p_number, f_name, gender, season from 
			(select p_number, f_name, gender, season from tbl_perfume where]]>
			 <include refid="search"></include> <![CDATA[ order by p_number desc)
		order by p_number desc) 
	where rm between #{rowStart} and #{rowEnd}
	]]>
	</select>
	
	<!-- 키워드 검색 갯수 -->
	<select id = "keyCount" resultType="int">
	<![CDATA[
	select count(p_number) from tbl_perfume where]]>
			 <include refid="search"></include> 
	
	</select>
	
	
	<sql id ="search">
	<if test="choose.equals('name')">
		 (f_name like '%'||#{keyword}||'%')
	</if>
	
	<if test="choose.equals('note')">
		(topnote like '%'||#{keyword}||'%' 
		or heartnote like '%'||#{keyword}||'%' 
		or basenote like '%'||#{keyword}||'%')
	</if>
	</sql>
	
	<insert id="">
	
	</insert>




</mapper>